# Pillar settings for the windows-update-agent formula correspond to registry
# keys found in this technet article:
# - https://technet.microsoft.com/en-us/library/Dd939844(v=WS.10).aspx
# The formula supports all keys listed in that article under these subkeys:
# - HKEY_LOCAL_MACHINE\Software\Policies\Microsoft\Windows\WindowsUpdate
# - HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Policies\Explorer 
# - HKEY_LOCAL_MACHINE\SYSTEM\Internet Communication Management\Internet Communication 
# - HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Policies\WindowsUpdate 
# - HKEY_LOCAL_MACHINE\Software\Policies\Microsoft\Windows\WindowsUpdate\AU

# NOTE: Settings that are not present in pillar, or that have no value (''),
# will have the corresponding registry key removed, which ensures Windows uses
# the default configuration for those registry settings.

windows-update-agent:
  hklm-windows-update:
    AcceptTrustedPublisherCerts: ''
    DisableWindowsUpdateAccess: ''
    ElevateNonAdmins: ''
    TargetGroup: ''
    TargetGroupEnabled: ''
    WUServer: ''
    WUStatusServer: ''
  hkcu-explorer:
    DisableWindowsUpdateAccess: ''
  hklm-internet-communication:
    NoWindowsUpdate: ''
  hkcu-windows-update:
    DisableWindowsUpdateAccess: ''
  hklm-windows-update-au:
    AUOptions: ''
    AutoInstallMinorUpdates: ''
    DetectionFrequency: ''
    DetectionFrequencyEnabled: ''
    NoAutoRebootWithLoggedOnUsers: ''
    NoAutoUpdate: ''
    RebootRelaunchTimeout: ''
    RebootRelaunchTimeoutEnabled: ''
    RebootWarningTimeout: ''
    RebootWarningTimeoutEnabled: ''
    RescheduleWaitTime: ''
    RescheduleWaitTimeEnabled: ''
    ScheduledInstallDay: ''
    ScheduledInstallTime: ''
    UseWUServer: ''
